body{
  font-family: 'Actor';
}

.accordion{
  	border-radius: 35px;
	width: 90%;
	background: #212F3C;
	margin: 0 auto;
}


.accordion-header{
  	border-radius: 35px;
  	border-bottom: 1px solid whitesmoke;
	color: whitesmoke;
	cursor: pointer;
	font-weight: 700;
	padding: 1.5rem;
	font-family: 'Actor';
}

.accordion-header:hover {
	background: #5D6D7E;
}

.accordion-content {
  	border-radius: 35px;
	display: none;
	background: #212F3C;
	padding: 1.5rem;
	color: whitesmoke;
	font-family: 'Actor';
	display: none;
}

.accordion-header::before {
 	 border-radius: 35px;
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
	background-color: white;
	margin-right: .75rem;
}

.active.accordion-header::before {
 	border-radius: 35px;
	background-color: #696969;
}

.ac{
  min-height: 80vh;
}

h1{
  font-family: 'Actor';
}

.halo{
	color: #696969;
}