{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <title>Story 7</title>
</head>

<body>
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'hello' %}">Hello!<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books' %}">Books</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Theme
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item dark" href="#">Dark</a>
                        <a class="dropdown-item light" href="#">Light</a>
                    </div>
                </li>
              </ul>
              
            <a href="{% url 'logout_view' %}"><button class="btn btn-outline-success my-2 my-sm-0 rounded-pill" >Logout</button></a>
            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'hello' %}">Hello!<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books' %}">Books</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Theme
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item dark" href="#">Dark</a>
                        <a class="dropdown-item light" href="#">Light</a>
                    </div>
                </li>
              </ul>
              <a href="../login/"><button class="btn btn-outline-success my-2 my-sm-0 rounded-pill" >Login</button></a>
              
            </div>
        </nav>
    {% endif %}

    
    <div class="ac d-flex align-items-center">
      <div class="p-3 col-6 d-flex flex-column align-items-center">
          <img class="rounded-circle" src="{% static 'img/if.jpg' %}" style="width:45%; object-fit:cover;">
          <h1 class="intan" style="margin:0.5em;">Intan Fadilla Andyani</h1>
      </div>

      <div class="p-3 col-6 d-flex flex-column align-items-center">
        <div class="accordion" style="margin:0.5em">
          <div class="accordion-header">Activity</div>
          <div class="accordion-content">Computer Science student at University of Indonesia.</div>
        </div>
        
        <div class="accordion" style="margin:0.5em">
          <div class="accordion-header">Experience</div>
          <div class="accordion-content">
            - Open House Fasilkom UI 2018 | Staff of Public Relations & Publicity<br>
            - COMPFEST 11 | HRD of Capture The Flag<br>
            - FUKI 2019 | Staff of KMF<br>
            - PMB 2019 | Staff of Equipment & Logistics<br>
            - RISTEK 2019 | Junior Member of Data Science SIG
          </div>
        </div>
        
        <div class="accordion" style="margin:0.5em">
          <div class="accordion-header">Accompolishment</div>
          <div class="accordion-content">
            - Statistic Competition IPB, Pesta Sains Nasional 2017 | 3rd Place<br>
            - Statistic Competition ITS, STATION 2018 | Finalist
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/about.js' %}"></script>
</body>
</html>
